.carousel {
  text-shadow: 1px 1px 2px black;
}
.colAltura {
  padding: 20px;
  height: 320px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:space-between
}
.colAltura:hover{
}

.zoom {
  transition: 200ms ease-in-out;
}

.zoom:hover {
  transform: scale(1.1)
}

.trio {
  padding-bottom: 15px;
}
.imgUnica {
  padding: 100px;
}

.lorem {
  height: 350px;
  display: flex;
}

.texto {
  margin: auto;
}

.titulo {
  text-align: center;
  padding: 25px 0px ; 
}
.formulario {
  text-align: center;
}
footer {
  text-align: center;
}

.padding {
  padding-bottom: 15px;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}